*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

main{
    height: 100vh;
    background-color: black;
    background-image: url(../img/201924392-foresta-di-fantasia-con-rocce-coperte-di-muschio-e-farfalle-volanti-rappresentazione-3d.jpg) ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    overflow: hidden;
    
}

.container{
    height: 100vh;
    transition: all 20s ease;
    overflow: hidden;
   
    
}

.row{
    height: 50px;
    width: 80%;
    margin: 0 auto;
}

.dgreen{
    background-color: #108b10;
}

.green{
    background-color: #5aed2f;
}

.black{
    background-color: black;
}

:hover .container{
    transform: translateX(200px);

}









